body {
			margin: 0;
			background-color: #000;
			color: #fff;
			font-family: monospace;
			cursor:none;
			position:relative;

		}

canvas{
	position:absolute;
	background:transparent;
}

#divHud{
	position:absolute;
	background:transparent;
	z-index:1000;
}

canvas#hud{
	z-index:999;
}
