/**{
	outline: none;
	margin:0; padding:0;
	box-sizing: border-box;
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;

}*/
html{
	font-size: 4vw;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: monospace;

	width:100vw;
	height:100vh;
	overflow:hidden;

	font-family: 'Poppins', sans-serif;
}

canvas{
	cursor: crosshair;
}


.mobile , .desktop{
	display: none;
}


.valign{
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

.halign{
	margin: inherit auto;
	width:100%;
	text-align: center;
}

.clear{
	clear:both;
}


.container{
	width:40%;
	height:100%;
	margin: 0 auto;
	padding: 1em 0;
	font-size: 14px;
	position:relative;

	text-align: center;
}

.subcontainer{
	width:100%;
	margin: 2em 0;
}

.container .bottom{
	position:absolute;
	bottom: 0;
	width:100%;
}

.container .bottom .logos{
	display:table;
	width:100%;
}

.container .bottom .logos .logo{
	display:table-cell;
	width: 33.3333333%;
	align-items: center;
	text-align: center;
}


.container .action{
	position:relative;
	text-align: center;
	width:100%;

	font-size: 1rem;
}

.container .action>div{
	margin: 0.5rem 0;
}


/*TYPO*/
h1{
	font-weight:400;
	font-size:2rem;
}

h2{
	font-weight:300;
	font-size:1rem;
}


/*PROGRESS BAR*/

div#audioProgressBar{
	position:absolute;
	top:0;left:0;
	z-index:1000;
	height:4px;
	width:1%;
	background-color: #fff;
}


/*SCREENS*/

.screens{
	position:absolute;
	z-index:999;
	width:100%;
	height:100%;
	display:none;
	opacity:0;
	top:0;left:0;

	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
}


#mobileControls{
	position:absolute;
	z-index:998;
	width:100%;
	height:100%;
	top:0;left:0;
	margin:0; padding:0;

	color: #fff;
	background-color: transparent;
}

.leftControls{
	float:left;
	width: 15vh;
	height: auto;
}

.rightControls{
	float:right;
	width: 15vh;
	height: auto;
}

.mobileControlButton{
	width: 16vh;
	height: 16vh;
	margin-bottom: 2vh;

	background-color: transparent;
	color: white;
	border: 1vh solid white;
	font-size: 8vh;

	text-align:center;
}

.mobileControlButton.resume{
	width: 45vh;
}


#startButton {
	display:inline-block;
	cursor:pointer;
	background-color: transparent;
	color: white;
	font-size: 8vh;
	line-height: 8vh;
	font-family: 'Poppins', sans-serif;
	border: 0;

	text-align:center;

	height: 16vh;
	padding: 0 8vh;
	box-sizing: content-box;

	text-decoration:none;
	background-color: blue;
}

#startButton:disabled{
	color: grey;
}

#startButton:hover {
	/*background-color:white;
	color:black;*/
}

/*#startButton:active {
}*/


.screens#loading{
	display:block;
	opacity:1;
}

.loadingbars{
	position:absolute;
	left:0;margin:0;padding:0;
	z-index:1001;
	height:8px;
	width:1%;
}


#audioLoading{
	top:0;
	background-color: #f00;
}
#texturesLoading{
	top:8px;
	background-color: #0f0;
}
#modelsLoading{
	top:16px;
	background-color: #00f;
}




/* COMMON */


@media screen and (max-device-width : 414px) {
  .container {
		width:90%;
  }
}

@media screen and (max-device-width : 736px) {
  .container {
		width:60%;
  }
}


/* ORIENTATION */
@media screen and (orientation: portrait) {

  .portrait {
		display: inherit;
  }

	.landscape{
		display: none;
	}

}

@media screen and (orientation: landscape) {
  .portrait {
    display: none;
  }

	.landscape{
		display: inherit;
	}
}
